<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="fileExtensions" value="java"/>
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity"/>
        <module name="CyclomaticComplexity"/>
        <module name="MethodLength"/>
        <module name="EmptyCatchBlock"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="NeedBraces"/>
        <module name="LineLength"/>
    </module>
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
    <module name="Header">
        <property name="headerFile" value="config/java.header"/>
    </module>
</module>
